# Node modules
node_modules/
  
# Environment variables
.env

# Logs & cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.cache/
  
# Build files
dist/
build/
  
# VS Code settings (if using)
.vscode/
